<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us | Spam Detection</title>
    <link rel="stylesheet" href="../static/Images/css/styleC2.CSS"> 
</head>
<body>
    <header>
        <h1>Our Contact</h1>
        <h2>Get In Touch.</h2>
    </header>

    <section class="contact-info">
        <div class="contact-details">
            <div class="contact-item">
                <i class="icon-location"></i>
                <p>Plot No 132, 2nd Floor, Above DCB Bank, HMT Nagar, Nacharam Main Road, Hyderabad - 500076.</p>
            </div>
            <div class="contact-item">
                <i class="icon-email"></i>
                <p><a href="mailto:info@Vaagdevi.com">info@Vaagdevi.com</a></p>
            </div>
            <div class="contact-item">
                <i class="icon-phone"></i>
                <p><a href="tel:+914035112535">+91 40 3511 2535</a></p>
            </div>
        </div>
    </section>

    <section class="footer">
        <div class="footer-content">
            <div class="footer-left">
                <h3>Vaagdevi</h3>
                <p>Let's Bridge the Gap between Academics and Industries.</p>
            </div>
            
            <div class="footer-center">
                <h4>Services</h4>
                <p>Spam Detection</p>
            </div>
            
            <div class="footer-center">
                <h4>About Us</h4>
                <p>Overview</p>
            </div>
            
            <div class="footer-right">
                <h4>Contact Info</h4>
                <address>
                    Plot No 132, 2nd Floor, Above DCB Bank, HMT Nagar, Nacharam Main Road, Hyderabad - 500076<br>
                    <a href="mailto:info@vaagdevi.com">info@Vaagdevi.com</a><br>
                    <a href="tel:+914035112535">+91 40 3511 2535</a>
                </address>
                <div class="social-media">
                    <a href="../static/Images/facebook.jpg"><i class="icon-facebook"></i></a>
                <a href="../static/Images/twitter.jpg"><i class="icon-twitter"></i></a>
                <a href="../static/Images/instagram.jpg"><i class="icon-instagram"></i></a>
                <a href="../static/Images/linkdin.jpg"><i class="icon-linkedin"></i></a>
                
            </div>
        </div>
    </section>

    <footer>
        <p>© Made by Vaagdevi student All Rights Reserved.</p>
    </footer>
</body>
</html>
