<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spam Detector | SmartBridge</title>
    <link rel="stylesheet" href="../static/Images/css/styleP5.css"> 
</head>
<body>
    <header>
        <h1>Spam <span style="color: red;">Detector</span> for Short Message Service (SMS)</h1>
        <p><em>A Machine Learning Web App, Built with Flask.</em></p>
    </header>

    <main>
        <center>
        <section class="prediction-result">
            <h2>Prediction: <span style="color: red;">Gotcha! This is a SPAM message.</span></h2>
            <img src="../static/Images/P2.jpg" alt="Spam message meme" style="width: 300px; height: auto;">  
        </section>
        </center>
    </main>

    <footer>
        <center>
        <p>Made with <span style="color: red;">&#10084;</span> by Sunitha.</p>
        </center>
    </footer>
</body>
</html>
