
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spam Detector | SmartBridge</title>
    <link rel="stylesheet" href="../static/Images/css/styleP4.css"
</head>
<body>
    <header>
        <h1>Spam <span style="color: red;">Detector</span> for Short Message Service (SMS)</h1>
        <p><em>A Machine Learning Web App, Built with Flask.</em></p>
    </header>

    <main>
        <center>
        <section class="prediction-result">
            <h2>Prediction: <span style="color: green;">Great! This is NOT a spam message.</span></h2>
            <img src="../static/Images/P.jpg" alt="Spongebob excited" style="width: 300px; height: auto;"> 
        </section>
        </center>
        </main>
        <center>
 <footer>
        <rignt>
        <p>Made with <span style="color: red;">&#10084;</span> by Sunitha.</p>
        </rignt>
    </footer>
     </center>
</body>
</html>